[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	tree = log --oneline --decorate --all --graph
[color]
	ui = true
[commit]
	template = ~/.git_commit_template.txt
[include]
	path = ~/.gitconfig_local
[init]
	templatedir = ~/.gittemplates
